body{
    background-color: #E5E0FF;
}
hr{

    border-style:none;
    border-top-style:dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
div{
    background-color: #E5E0FF;
}
#footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}